body {
    background-color: black;
}

#todo-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#todo-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;

}

h1 {
    color: antiquewhite;
}

#add-task {
    padding: 10px 20px;
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task:hover {
    color: white;
    background-color: turquoise;
}

li {
    list-style: none;
    margin-bottom: 1px;
    padding: 8px;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    cursor: pointer;

}

.list-container {
    width: 450px;
    margin: 0 auto;
    text-align: center;
    /* Centrer le contenu horizontalement */
    margin-top: 39vh;
    /* Ajuster la marge verticale pour centrer verticalement */
}